DATABASE_URL="sqlserver://<username>:<password>@<server>.database.windows.net:1433;database=<database>;encrypt=true;trustServerCertificate=false;"
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=<your-account-name>;AccountKey=<your-account-key>;EndpointSuffix=core.windows.net"
AZURE_STORAGE_CONTAINER="products"
REDIS_URL="rediss://:<your-redis-password>@<your-redis-host>.redis.azure.net:10000"
KEY_VAULT_URI="https://<your-key-vault-name>.vault.azure.net/"
APPINSIGHTS_INSTRUMENTATIONKEY="<instrumentation-key>"
